<footer id="main-footer">
	<div class="in">
		<nav>
			<div id="logo">
				<a href="/">
					<img src="/assets/img/logo.svg" alt="LS Drones">
				</a>
			</div>
			<ul>
				<li>
					<a href="/qui-sommes-nous">Qui sommes-nous ?</a>
				</li>
				<li>
					<a href="/ecole-de-pilotage">École de pilotage</a>
				</li>
				<li>
					<a href="/prise-de-vue-aerienne">Prise de vue aérienne</a>
				</li>
			</ul>

			<button class="main">
				<a href="/contact">Contact</a>
			</button>
		</nav>
		<footer>
			<ul class="social">
				<li>
					<a target="_blank" href="https://facebook.com/lsdrones">
						<img src="/assets/img/facebook.svg" alt="Facebook">
					</a>
				</li>
				<!--<li>
					<a target="_blank" href="https://linkedin.com/">
						<img src="/assets/img/linkedin.svg" alt="Linkedin">
					</a>
				</li>
				<li>
					<a target="_blank" href="https://twitter.com/">
						<img src="/assets/img/twitter.svg" alt="Twitter">
					</a>
				</li>
				<li>
					<a target="_blank" href="https://instagram.com/">
						<img src="/assets/img/instagram.svg" alt="Instagram">
					</a>
				</li>-->
			</ul>
			<ul>
				<li>Copyright 2018</li>
			</ul>
		</footer>
	</div>
</footer>