<!DOCTYPE html>
<html>

<head>
    <title>LS Drones | Prise de vue aérienne • Ecole de pilotage • Montage vidéo - LS Drones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,700,800" rel="stylesheet">
    <style type="text/css"></style>

    <meta property="og:url"                content="https://www.lsdrones.fr/contact" />
	<meta property="og:title"              content="Contactez-nous !" />
	<meta property="og:description"        content="Pour nous contacter, envoyez nous un e-mail à contact@lsdrones.fr ou retrouvez nous sur notre page Facebook" />
	<meta property="og:image"              content="{{ image }}" />
</head>

<body>
    <section id="intro-page" style="background-image:url({{image}})">
        {{>header}}
    </section>

    <section class="content-page">
        <div class="in">
            {{{contenu}}}
        </div>
    </section>

    {{>footer}}
</body>