<!DOCTYPE html>
<html>

<head>
    <title>LS Drones | Prise de vue aérienne • Ecole de pilotage • Montage vidéo - LS Drones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,700,800" rel="stylesheet">
    <style type="text/css"></style>
</head>

<body>
    <section id="intro-page" style="background-image:url({{image}})">
        {{>header}}
    </section>

    <section class="content-page">
        <div class="in">
            {{{contenu}}}
        </div>
    </section>



    {{>footer}}
</body>