<!DOCTYPE html>
<html>

<head>
    <title>LS Drones | Prise de vue aérienne • Ecole de pilotage • Montage vidéo - LS Drones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,700,800" rel="stylesheet">
    <style type="text/css"></style>

    <meta property="og:url"                content="https://www.lsdrones.fr/ecole-de-pilotage" />
	<meta property="og:title"              content="École de pilotage" />
	<meta property="og:description"        content="Forts de leur expérience de pilotes professionnels, nos formateurs vous proposent des solutions sur-mesures" />
	<meta property="og:image"              content="{{ image }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
    <section id="intro-page" style="background-image:url({{image}})">
        {{>header}}
    </section>

    <section class="content-page">
        <div class="in">
            {{{contenu}}}
        </div>
    </section>



    {{>footer}}
</body>